body{
	font-family: "Open sans", sans-serif;
}
#row-1{
	margin-bottom: 50px;
}
.behind{
	height:auto;
	width:100%;
	position: absolute;
}
.header{

		font-size: 9vw;
		font-family: sans-serif; ;
		color:#f1f2f6;
		
}
#main-blog{
	margin-top: 120px;
}
#brand-name{
	margin-left: 15px;
	font-size: 30px;
}
.point-1,.point-2,.point-3{
	margin-top:60px;
	margin-bottom: 20px;
}
.point-3{
	margin-bottom:60px;
}
.h3{
	margin-top : 20px;
}
.footer{
	display: flex;
	justify-items: center;
	justify-content: center;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.list-group-item{
	border-style: none ;
	list-style: none;
}
#developer{
	margin-top: 10px;
}
.reach-me{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 10px;
}
#Census{
	color:#d63031;
}
.navbar-brand{
	font-size: x-large;
	padding-left: 30px;;
}
.nav-links-top{	
padding-right: 10px;
}

#btn-1,#btn-2,#btn-3{
	margin-top: 30px;
	margin-bottom: 30px;
	border: none;
	width: 180px;
	background-color:#6c5ce7;
}

.modal-header{
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-control{
	border-top: none;
	border-left:none;
	border-right: none;
}
.bg-custom{
	z-index: 2;
	background-color:transparent;
}
.illust{
	height: auto;
	width:100%;

}